.header_content {
	width: 100wh;
	p {
		text-align: center;
	}

	input {
		display: block;
		margin: 5px auto 5px;
		border: 1px solid hsl(0, 1%, 14%);
		border-radius: 3px;
		padding: 0 3px;
		width: 90%;
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}
